spring/src/main/resources/org/brekka/stillingar/spring/config/brekka-stillingar-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:stil="http://brekka.org/schema/stillingar/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://brekka.org/schema/stillingar/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name="configuration">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="1">
                    <xsd:element name="selector">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="naming" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:attribute name="prefix" type="xsd:string" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    If not specified, the overall 'id' will be used as the configuration
                                                    file name
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                        <xsd:attribute name="extension" type="xsd:string" default="xml"
                                            use="optional">
                                        </xsd:attribute>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="location" maxOccurs="1" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="environment-variable" type="xsd:string"
                                                maxOccurs="unbounded" minOccurs="0">
                                            </xsd:element>
                                            <xsd:element name="system-property" type="xsd:string" maxOccurs="unbounded"
                                                minOccurs="0">
                                            </xsd:element>
                                            <xsd:element name="home" maxOccurs="unbounded" minOccurs="0">
                                                <xsd:complexType>
                                                    <xsd:attribute name="path" type="xsd:string" use="optional">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Sub-path under the home directory to search for the
                                                                configuration. By default the folder ".config/[id]" will
                                                                be used.
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:attribute>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="platform" maxOccurs="1" minOccurs="0">
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:enumeration value="Tomcat"></xsd:enumeration>
                                                        <xsd:enumeration value="Glassfish"></xsd:enumeration>
                                                        <xsd:enumeration value="JBoss"></xsd:enumeration>
                                                        <xsd:enumeration value="Weblogic"></xsd:enumeration>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="version-maven" maxOccurs="1" minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:attribute name="groupId" type="xsd:string" use="required"></xsd:attribute>
                                        <xsd:attribute name="artifactId" type="xsd:string" use="required"></xsd:attribute>
                                        <xsd:attribute name="pattern" type="xsd:string" use="optional">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    The pattern used to extract sub-version numbers. This enables
                                                    searching by major/feature version numbers. If not specified, the
                                                    version number extracted from maven will be used as-is.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="remote">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="keystore" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:attribute name="resource" type="xsd:anyURI" />
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="truststore" minOccurs="0" maxOccurs="1">

                                </xsd:element>
                            </xsd:sequence>

                            <xsd:attribute name="host" type="xsd:string" use="required" />
                            <xsd:attribute name="port" type="xsd:positiveInteger" use="optional" default="443" />
                            <xsd:attribute name="path" type="xsd:string" use="optional" default="/stillingar" />
                        </xsd:complexType>
                    </xsd:element>
                </xsd:choice>
                <xsd:element name="property-placeholder" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:attribute name="prefix" type="xsd:string" use="optional" />
                        <xsd:attribute name="suffix" type="xsd:string" use="optional" />
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="defaults" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:attribute name="path" type="xsd:string" use="required"></xsd:attribute>
                        <xsd:attribute name="encoding" type="xsd:string" use="optional"></xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="jaxb" maxOccurs="1" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="schema" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="context-path" type="xsd:string" use="required"></xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="namespace" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="prefix" type="xsd:string" use="required" />
                        <xsd:attribute name="url" type="xsd:string" use="required" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The identifier for this configuration source, enabling it to be referenced by other beans in the
                        spring configuration.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        A name for the application configuration that will be used as a default for various prefixes. If
                        not set, the value of the 'id' attribute will be used instead.

                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="path" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        Path to the resource from which to load the configuration. If not specified, then a search
                        algorithm will be used to locate the configuration. This search mechanism can be controlled
                        under the "selector" element.

                        If the "remote" or "selector" element are specified, then this attribute will be ignored.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="reload-interval">
                <xsd:annotation>
                    <xsd:documentation>
                        The interval (in milliseconds) to check for updates to the configuration. The mimimum value is
                        500 ms. If no value is set, then the configuration will be static.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="500"></xsd:minInclusive>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="engine" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        The type of configuration subsystem being used. Possible values currently include 'xmlbeans', or
                        'props'
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="xmlbeans"></xsd:enumeration>
                        <xsd:enumeration value="props"></xsd:enumeration>
                        <xsd:enumeration value="jaxb"></xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="scheduler-ref" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        For when reloading is enabled (via reload-interval) this attribute allows a scheduler to be set
                        to provide the periodic reloading. If not specified then a new scheduler will be created.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
